{% extends "base.html" %}

{% block title %}
    About 
{% endblock %}


{% block content %}
<br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aperiam 
        quibusdam numquam temporibus consequuntur nostrum hic asperiores
         nobis ut, enim consequatur est? Vitae eaque aliquam id placeat explicabo quia sapiente?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis deserunt recusandae tempore amet, commodi consectetur
        sint quidem itaque atque doloribus est saepe! Voluptas, accusantium odit fugiat ut sed iusto commodi.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aperiam 
            quibusdam numquam temporibus consequuntur nostrum hic asperiores
             nobis ut, enim consequatur est? Vitae eaque aliquam id placeat explicabo quia sapiente?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis deserunt recusandae tempore amet, commodi consectetur
            sint quidem itaque atque doloribus est saepe! Voluptas, accusantium odit fugiat ut sed iusto commodi.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aperiam 
                quibusdam numquam temporibus consequuntur nostrum hic asperiores
                 nobis ut, enim consequatur est? Vitae eaque aliquam id placeat explicabo quia sapiente?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis deserunt recusandae tempore amet, commodi consectetur
                sint quidem itaque atque doloribus est saepe! Voluptas, accusantium odit fugiat ut sed iusto commodi.</p>
                
{% endblock %}